:root {
    --primary-text-color: #212121;
    --description-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-blue-color: #2196F3;
    --active-color: #4682B4;
    --background-color-for-main-page: #E5E5E5;
    --decoration-line: #2F303A;
    }

/*общая стилизация страницы*/
.page {
    background-color: var(--background-color-for-main-page);    
    font-family: Roboto;
    color: var(--primary-text-color);
    }

/*уборка всех маркеров со всех списков*/
 ul {
    list-style: none;
 } 

/*стилизация всех подписей (абзацы) в серый цвет, согласно макету)*/
 .description {
    color: var(--description-text-color);
 }

/*стилизация шапки страницы логотипа (включая версию логотипа подвала)*/
 .page-header {
    background-color: var(--primary-white-color);
 } 

 .logo {
    color: #000000;
 }
 
.logo > .web {
    color: var(--accent-blue-color);
}

.logo > .studio {
    color: var(--primary-white-color);
} 

 .logo:hover, .logo:focus {
    color: #7B68EE;
 }

 .logo:active {
     color: var(--active-color);
 }

 /*навигация по сайту (ссылки на разделы сайта)*/
 .site-nav a {
    color: inherit;
 } 
 .nav-item a:hover, a:focus {
    color: var(--accent-blue-color);
 }
 .nav-item a:active {
    color: var(--active-color);
 }

 .site-nav .nav-item .current.link {
   color: var(--accent-blue-color);
 }

 /*адреса и контактные данные*/

 .address-item a {
     color: var(--description-text-color);
 }

 .address-item a:hover, a:focus {
    color: var(--accent-blue-color)
 }
 .address-item a:active {
   color: var(--active-color);
 }

/*стилизация раздела - герой*/ 
 .hero {
    background-color: var(--decoration-line);
    width: 1600px;
    height: 600px;    
 }

 .hero > .title-of-hero {
    color: var(--primary-white-color);      
 }

 /* Кнопки (button-primary - для раздела герой, button-secondary - кнопки фильтра)*/
 .button-primary {
      color: var(--primary-white-color);
      background-color: var(--accent-blue-color);      
     }
     
 .button-secondary {
     color: var(--primary-text-color);
     background-color: #F5F4FA;
     }
     
 .button-secondary:hover, .button-secondary:focus {
     color: var(--primary-white-color);
     background-color: var(--accent-blue-color);
    }

 /*стилизация подвала*/
 .ending {
     background-color: var(--decoration-line);
     width: 1600px;
     height: 600px;
    }

    .ending .address-list .main-adress {
       color: var(--primary-white-color);
    }  - не работает 

фокус применять для карточек галереи 
не могу сделать статичный цвет раздела, где нахожусь

