:root {
    --primary-text-color: #212121;
    --description-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --accent-blue-color: #2196F3;
    --active-color: #4682B4;
    --background-color-for-main-page: #E5E5E5;
    --decoration-line: #2F303A;
    --highlight-color: #000000;
    }

/*общая стилизация страницы*/
.page {
    background-color: var(--background-color-for-main-page);    
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    }

/*уборка всех маркеров со всех списков*/
 ul {
    list-style: none;
 } 

 /* уборка всех подчеркиваний у ссылок */
 a {
    text-decoration: none;
 }

/*уборка всех лишних заголовков*/
.hidden {
   display: none;
}

/*стилизация всех подписей (абзацы) в серый цвет, согласно макету)*/
 .description {
    color: var(--description-text-color);
 }

/*стилизация шапки страницы логотипа (включая версию логотипа подвала)*/
 .page-header {
    background-color: var(--primary-white-color);
 } 

 .logo {
    color: var(--highlight-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;    
    }
 
 .logo > .web {
    color: var(--accent-blue-color);
}

 .logo > .studio {
    color: var(--primary-white-color);
} 

 .logo:hover, .logo:focus {
    color: #7B68EE;
 }

 .logo:active {
     color: var(--active-color);
 }

/*навигация по сайту (ссылки на разделы сайта)*/
 .site-nav a {
    color: inherit;    
 }
 
 .site-nav {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
 }

 .nav-item a:hover, a:focus {
    color: var(--accent-blue-color);
 }
 .nav-item a:active {
    color: var(--active-color);
 }

 .site-nav .nav-item .current-link {
    color: var(--accent-blue-color);
 }

/*адреса и контактные данные*/
 .address-list {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
 }
 /* нижестоящий абзац не принимает шрифт робото без указанного фонт-стайла и веса */
  .main-adress {
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
 }

 .address-from-footer a {
   color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
 }

 .address-from-header a {
     color: var(--description-text-color);

 }

 .address-item a:hover, a:focus {
    color: var(--accent-blue-color)
 }
 .address-item a:active {
   color: var(--active-color);
 }

 .ending .address-list .main-adress {
   color: var(--primary-white-color);
 }

 .ending .address-list .main-adress:hover {
 color: var(--accent-blue-color);
 }

/*стилизация раздела - герой*/ 
 .hero {
    background-color: var(--decoration-line);
    width: 1600px;
    height: 600px;      
 }

 .hero > .title-of-hero {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;      
 }



/* Кнопки (button-primary - для раздела герой, button-secondary - кнопки фильтра)*/
 .button-primary {
      color: var(--primary-white-color);
      background-color: var(--accent-blue-color);
      cursor: pointer;
      font-family: inherit;
      position: absolute;
      width: 200px;
      height: 50px;
      left: 700px;
      top: 430px;      
     }

 .order {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
     }
     
 .button-secondary {
     color: var(--primary-text-color);
     background-color: #F5F4FA;
     cursor: pointer;
     font-family: inherit;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.62;   
     }
     
 .button-secondary:hover, .button-secondary:focus {
     color: var(--primary-white-color);
     background-color: var(--accent-blue-color);
    }

/* стилизация второго сектор страницы студия (преимущества данной компании) */
  .advantages {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
 }

 /* не применяется*/
  .declaration {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
 }

  .what-are-we-doing {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
 }

  .our-team {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
 }

  .personalities h3 {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
 }

  .personalities p {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.18;
 }

/* Стилизация второго сектора страницы "Портфолио"
с демонстрацией практической деятельности компании(картинки-ссылки)*/
  .cards a {
   color: inherit;
 }
 
  .our-experience:focus {
   color: var(--highlight-color);
 }

  .title-cards {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
 }

  .cards-description {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.87;
 }
 
/*стилизация подвала*/
  .ending {
     background-color: var(--decoration-line);
     width: 1600px;
     height: 600px;
 }
    



